#main {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  top: 50%;
  left: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  position: absolute;
  align-self: center;
}

#A {
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}
#B {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}
#C {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}
#D {
  background-color: green;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}

#main > div:hover {
  transform: rotate(90deg);
  transform-origin: top left;
  transition: transform 1s ease-in-out;
}
