#main {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  position: absolute;
  align-self: center;
}

#A {
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  transition: transform 1s ease;
}
#B {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: top right;
  transition: transform 1s ease;
}
#C {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: bottom left;
  transition: transform 1s ease;
}
#D {
  background-color: green;
  height: 100px;
  width: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: bottom right;
  transition: transform 1s ease;
}

#main:hover #A {
  transform: rotate(90deg);
  transform-origin: top left;
  transition: transform 1s ease;
}

#main:hover #B {
  transform: rotate(-90deg);
  transform-origin: top right;
  transition: transform 1s ease;
}

#main:hover #C {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: transform 1s ease;
}

#main:hover #D {
  transform: rotate(90deg);
  transform-origin: bottom right;
  transition: transform 1s ease;
}
